#container .content {
    padding: 45px 30px;
}

.finder input {
    display: block;
    background-color: hsla(0, 0%, 100%, 0.9);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 12px;
    font-size: 26px;
    color: inherit;
}

.finder .address {
    margin-bottom: 30px;
}

.finder .address-with-zipcode-wrapper {
    position: relative;
}

.finder .loader {
    display: none;
    position: absolute;
    /* same as input's padding */
    right: 12px;
    /* (input's rendered padding-height - loader's rendered header) / 2 */
    top: 19px;
}

.finder.loading .loader {
    display: block;
}
