{% extends "base.html" %}

{%- block title -%}ZIP Code Finder for Taiwan - About{%- endblock -%}

{%- block styles %}
<style>
#container .content {
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 26px;
}

#container .content h1 {
    margin-top: 26px;
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: bold;
}

#container .content h1:first-of-type {
    margin-top: 0;
}

#container .content p {
    line-height: 26px;
    margin-bottom: 16px;
}

#container .content p:last-of-type {
    margin-bottom: 0;
}
</style>
{%- endblock %}

{%- block content %}
<h1>關於 ZIPCodeTW</h1>
<p>這個網站是 <a href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a> 的網頁前端程式。
<p>ZIPCodeTW 是以中華郵政的 <a target="_blank" href="https://www.post.gov.tw/post/internet/f_searchzone/index.jsp">3+2 郵遞區號查詢頁</a> 為基礎加以改良的 Python 函數庫。除了查詢頁有的基本功能，ZIPCodeTW 也提供更模糊的搜尋功能，在地址不全時，仍能查詢到部分的郵遞區號。
<p>ZIPCodeTW 同時也是一個開放原始碼的專案，所有原始碼都可以在 <a href="https://github.com/moskytw/zipcodetw">moskytw/zipcodetw</a> 找到，歡迎自由下載使用。也歡迎回報 bug 或提供 patch :)。

<h1>關於作者</h1>
<p><a href="http://mosky.tw">Mosky</a> 是任職於 <a href="http://www.pinkoi.com">Pinkoi</a> 的 Python 工程師，閒暇時喜歡用 Python 寫些有趣的東西 (例如這個 :P)。</p>

<h1>關於背景圖片</h1>
<p>本站的背景圖片是由 <a href="http://subtlepatterns.com/">Subtle Patterns</a> 提供的，謝謝他們提供的漂亮圖片。</a>

{%- endblock %}
