<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{%- block title -%}ZIP Code Finder for Taiwan{%- endblock -%}</title>
        <link href="/static/reset.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>
        {%- block styles %}
        {%- endblock %}
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        {%- block scripts %}
        {%- endblock %}
    </head>
    <body>
        <div id="container">
            <header>
                <h1><a href="/">ZIPCodeTW</a></h1>
                <nav>
                    <ol>
                        <li><a href="/tech">Tech</a></li>
                        <li><a href="/about">About</a></li>
                    </ol>
                </nav>
            </header>
            <div class="content">
                {%- block content %}
                <img id="content-loader" src="/static/loader.gif">
                {%- endblock %}
            </div>
            <footer>
                <a href="https://github.com/moskytw/zipcodetw/">ZIPCodeTW</a>
            </footer>
        </div>
    </body>
</html>
