<!DOCTYPE html>

<title>ZIP Code Finder for Taiwan</title>

<link href="/static/reset.css" rel="stylesheet">
<link href="/static/index.css" rel="stylesheet">
<link href="/static/zipcodefinder.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="/static/zipcodefinder.js"></script>
<script src="/static/index.js"></script>

<div id="container">
    <h1>ZIP Code Finder for Taiwan</h1>
    <div id="content">
        <img class="loader" src="/static/loader.gif">
    </div>
    <footer>
        <a href="https://github.com/moskytw/zipcodetw/">ZIPCodeTW</a>
    </footer>
</div>
