{% extends "base.html" %}

{%- block title -%}About The ZIP Code Finder for Taiwan{%- endblock -%}

{%- block styles %}
    <link href="/static/about.css" rel="stylesheet">
{%- endblock %}

{%- block content %}
<h1>關於本站</h1>

<p>這個網站是爲了 <a target="_blank" href="https://github.com/moskytw/zipcodetw"><a target="_blank" href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a></a> 所寫的網頁前端程式，也就是 <a target="_blank" href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a> 的網頁版。</p>

<p><a target="_blank" href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a> 是以中華郵政 <a target="_blank" href="https://www.post.gov.tw/post/internet/f_searchzone/index.jsp">3+2 郵遞區號查詢頁</a> 的資料為基礎，再加以改良的 <a target="_blank" href="http://www.python.org">Python</a> 函數庫。除了查詢頁有的基本功能外，它還額外提供了以漸進或模糊地址的搜尋功能。所以即使只有部分地址，還是可以查詢到全部或部分的郵遞區號。</p>

<p>同時 <a target="_blank" href="https://github.com/moskytw/zipcodetw">ZIPCodeTW</a> 也是一個開放原始碼的專案，所有的程式碼 (包含本站程式碼) 都可以在 <a href="https://github.com/moskytw/zipcodetw">moskytw/zipcodetw</a> 找到。</p>

<h1>關於作者</h1>

<p>作者 <a href="http://mosky.tw">Mosky</a> 是任職於 <a href="http://www.pinkoi.com">Pinkoi</a> 的 <a target="_blank" href="http://www.python.org">Python</a> 工程師，閒暇時喜歡用 <a target="_blank" href="http://www.python.org">Python</a> 寫些有趣的東西。如果你發現了這個網站的任何問題，或覺得有可以更好的地方，都可以透過 mosky dot tw at gmail dot com 這個信箱來與她聯絡。</p>

<h1>關於圖片</h1>

<p>最後謝謝由 <a href="http://subtlepatterns.com/">Subtle Patterns</a> 提供的漂亮背景圖片。</a></p>

{%- endblock %}
