<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://zipcode.mosky.tw">
    <meta property="og:image" content="http://zipcode.mosky.tw/static/preview.png">
    <meta property="og:title" content="The ZIP Code Finder for Taiwan">
    <meta property="og:description" content="ZIPCodeTW 是一個支援以漸進或模糊地址搜尋郵遞區號的網頁工具。">

    <title>{%- block title -%}The ZIP Code Finder for Taiwan{%- endblock -%}</title>
    <meta name="description" content="ZIPCodeTW 是一個支援以漸進或模糊地址搜尋郵遞區號的網頁工具。">
    <meta name="keywords" content="地址 郵遞區號 臺灣 漸進 模糊 address zipcode zipcodetw taiwan gradual fuzzy">

    <link href="/static/reset.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300' rel='stylesheet' type='text/css'>
    {%- block styles %}
    {%- endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37976535-1', 'mosky.tw');
      ga('send', 'pageview');

    </script>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    {%- block scripts %}
    {%- endblock %}

</head>

<body>

    <div id="container">

        <header>
            <h1><a href="/">ZIPCodeTW</a></h1>
            <nav>
                <ol>
                    <li><a class="about" href="/about">About</a></li>
                </ol>
            </nav>
        </header>

        <!--[if lt IE 10]>
        <div class='old-ie'>
            <p>你的瀏覽器有點太舊囉！這個瀏覽器可能會沒辦法正常繪製這個網站，建議你更換一個瀏覽器或升級現在的瀏覽器。</p>
            <ol>
                <li><a title='換成速度最快的 Chrome' target='_blank' href='https://www.google.com/chrome'><img src='http://mosky.tw/img/chrome.png'></a></li>
                <li><a title='享受有許多附加套件的 Firefox' target='_blank' href='http://mozilla.com.tw/firefox/'><img src='http://mosky.tw/img/firefox.png'></a></li>
                <li><a title='升級原本的瀏覽器' target='_blank' href='http://windows.microsoft.com/zh-TW/internet-explorer/download-ie'><img src='http://mosky.tw/img/ie.png'></a></li>
            </ol>
            <p></p>
        </div>
        <![endif]-->

        <div class="content">
            {%- block content %}
            <img id="content-loader" src="/static/loader.gif">
            {%- endblock %}
        </div>

        <footer>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fzipcode.mosky.tw%2F&amp;width=400&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=35&amp;appId=" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:20px;" allowTransparency="true"></iframe>
        </footer>

    </div>

</body>

</html>
