body {
    color: #555;
    background-image: url(http://subtlepatterns.com/patterns/green_dust_scratch.png);
}

a {
    color: #008500;
}

a:hover {
    color: #00CC00;
}

#container {
    width: 600px;
    margin: 0 auto;
}

#container header,
#container .content,
#container footer {
    background-color: hsla(0, 0%, 100%, 0.6);
}

#container header,
#container .content {
    margin-bottom: 24px;
}

#container header,
#container .content,
#container footer {
    padding: 22px;
}

#container header {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    position: relative;
}

#container header ol,
#container header li {
    display: inline;
}

#container header h1 {
    font-size: 24px;
}

#container header nav {
    font-size: 18px;
    position: absolute;
    /* same as header's padding */
    right: 18px;
    /* (header's rendered padding-height - nav's rendered header) / 2 */
    top: 26px;
}

#container header nav li {
    margin-left: 12px;
}

#content-loader {
    display: block;
    margin: 0 auto;
}
