.finder input {
    display: block;
    background-color: hsla(0, 0%, 100%, 0.9);
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: 0;
    padding: 12px;
    font-size: 26px;
    color: inherit;
}

.finder .address {
    margin-bottom: 22px;
}

.finder .address-with-zipcode {
    color: #666;
}

.finder .address-with-zipcode-wrapper {
    position: relative;
}

.finder .loader {
    display: none;
    position: absolute;
    /* same as input's padding */
    right: 12px;
    /* (input's font-size+padding - loader's height: 16)/2 */
    top: 16px;
}

.finder.loading .loader {
    display: block;
}
